.container{
    width: 90%;
    margin: 0 auto;

}
.mainContact{
    display: flex;
    flex-direction: column;
    margin: 70px;
    box-shadow: 1px 0px 2px 2px rgba(0, 0, 0, 0.692);
}
.mainContainer{
    display: flex;
    flex-direction: column;
    margin: 15px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form label{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 1px 1px 1px black;
    color: white;
    margin: 10px 0;
}
.form input{
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px;
}
.form button{
    align-self: center;
    width: 150px;
    margin: 20px 0;
    height: 50px;
    background: linear-gradient(to right, #bdc3c721, #2c3e50ef);
    color: white;
    border: none;
    box-shadow: 1px 0px 2px 2px rgba(0, 0, 0, 0.692);
    text-shadow: 1px 1px 1px black;
}
.form button:hover{
    background: white;
    color: black;
    text-shadow: 1px 1px 1px white;
}